---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/NavCounsellor.astro';
import Titulos from '../components/Titulos.astro';
---

<Layout title='Perfil (Consejal)'>
    <Nav enlace="https://walstar29.github.io/Portal-Ambiental/counsellorForum/" text='Foro Publico' icon='fa-solid fa-users'
        enlace2="https://walstar29.github.io/Portal-Ambiental/counsellorForumAdmin/" text2='Foro Administrativo' icon2='fa-solid fa-people-group'
        enlace3="https://walstar29.github.io/Portal-Ambiental/counsellorProfile/" text3='Perfil' icon3='fa-solid fa-user'>
    </Nav>

    <Titulos title='Walter Castro'></Titulos>
    <div class="contenedor">
        <div class="left">
            <label for=""><b>Cedula: </b> 29.582.989</label>
            <label for=""><b>Nombre: </b> Walter Catro</label>
            <label for=""><b>correo electronico: </b> waltercastro172913@gmail.com</label>
            <label for=""><b>Telefono: </b> 0414-7996937</label>
            <br><br>
            <label for=""><b>Usuario: </b> Usuario3</label>
            <label for=""><b>Contrasenia: </b> Contrasenia3</label>

            <button><a href="https://walstar29.github.io/Portal-Ambiental/">Cerrar Sesion</a></button>
        </div>

        <div class="right">
            <i class="fa-solid fa-user" style="color: #005eff;"></i>
        </div>
    </div>
</Layout>

<style>
    .contenedor {
        width: 100%;
        padding: 0 10%;
        display: flex;
    }
    .left{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    button{
        width: 30%;
        border: none;
        padding: 2% 0;
        margin: 5% 0 0 0;
        border-radius: 5px;
    }

    button a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .right{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right i{
        font-size: 600%;
    }

    @media(max-width: 700px){
        .contenedor{
            display: flex;
            flex-direction: column-reverse;
        }

        .right{
            width: 100%;
            margin: 0 0 10% 0;
        }

        button{
            width: 80%;
            padding: 5% 0;
        }
    }
</style>