---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/NavCounsellor.astro';
import ForoAdministrativo from '../components/ForoAdministrativo.astro';
---

<Layout title='Consejero'>
    <Nav enlace="/counsellorForum" text='Foro Publico' icon='fa-solid fa-users'
        enlace2="/counsellorForumAdmin" text2='Foro Administrativo' icon2='fa-solid fa-people-group'
        enlace3="/counsellorProfile" text3='Perfil' icon3='fa-solid fa-user'>
    </Nav>

    <ForoAdministrativo>
    </ForoAdministrativo>
</Layout>