---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Titulos from '../components/Titulos.astro';
---

<Layout title='Punta de piedras'>
    <Nav enlace="https://walstar29.github.io/Portal-Ambiental/main/" text='Home' icon='fa-solid fa-house'
        enlace2="https://walstar29.github.io/Portal-Ambiental/mainGallery/" text2='Galeria' icon2='fa-solid fa-image'
        enlace3="https://walstar29.github.io/Portal-Ambiental/mainProjects/" text3='Proyectos' icon3='fa-solid fa-helmet-safety'
        enlace4='https://walstar29.github.io/Portal-Ambiental/mainEnvironments/' text4='Ambiente' icon4='fa-solid fa-seedling'
        enlace5='https://walstar29.github.io/Portal-Ambiental/mainTourism/' text5='Turismo' icon5='fa-solid fa-umbrella-beach'
        enlace6='https://walstar29.github.io/Portal-Ambiental/mainContactUs/' text6='Contectenos' icon6='fa-solid fa-phone'
        enlace7='https://walstar29.github.io/Portal-Ambiental/mainForum/' text7='Foro' icon7='fa-solid fa-users'
        enlace8='https://walstar29.github.io/Portal-Ambiental/mainProfile/' text8='Perfil' icon8='fa-solid fa-user'>
    </Nav>

    <Titulos title='Walter Castro'></Titulos>
    <div class="contenedor">
        <div class="left">
            <label for=""><b>Cedula: </b> 29.582.989</label>
            <label for=""><b>Nombre: </b> Walter Catro</label>
            <label for=""><b>correo electronico: </b> waltercastro172913@gmail.com</label>
            <label for=""><b>Telefono: </b> 0414-7996937</label>
            <br><br>
            <label for=""><b>Usuario: </b> Usuario1</label>
            <label for=""><b>Contrasenia: </b> Contrasenia1</label>

            <button><a href="https://walstar29.github.io/Portal-Ambiental/">Cerrar Sesion</a></button>
        </div>

        <div class="right">
            <i class="fa-solid fa-user" style="color: #005eff;"></i>
            <img src="https://github.com/WalStar29/Portal-Ambiental/blob/main/src/python/codigo_qr_con_logo.png?raw=true" alt="">
        </div>
    </div>
</Layout>

<style>
    .contenedor {
        width: 100%;
        padding: 0 10%;
        display: flex;
    }
    .left{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    button{
        width: 30%;
        border: none;
        padding: 2% 0;
        margin: 5% 0 0 0;
        border-radius: 5px;
    }

    button a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .right{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right i{
        font-size: 600%;
    }

    .right img{
        width: 50%;
    }

    @media(max-width: 700px){
        .contenedor{
            display: flex;
            justify-content: center;
            flex-direction: column-reverse;
        }

        .right{
            width: 100%;
            margin: 0 0 10% 0;
        }

        button{
            width: 80%;
            padding: 5% 0;
        }
    }
</style>