---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import ContactUsForm from '../components/ContactUsForm.astro';
import Titulos from '../components/Titulos.astro';
---

<Layout title='Punta de piedras'>
    <Nav enlace="/main" text='Home' icon='fa-solid fa-house'
        enlace2="/mainGallery" text2='Galeria' icon2='fa-solid fa-image'
        enlace3="/mainProjects" text3='Proyectos' icon3='fa-solid fa-helmet-safety'
        enlace4='/mainEnvironments' text4='Ambiente' icon4='fa-solid fa-seedling'
        enlace5='/mainTourism' text5='Turismo' icon5='fa-solid fa-umbrella-beach'
        enlace6='/mainContactUs' text6='Contectenos' icon6='fa-solid fa-phone'
        enlace7='/mainForum' text7='Foro' icon7='fa-solid fa-users'
        enlace8='/mainProfile' text8='Perfil' icon8='fa-solid fa-user'>
    </Nav>

    <Titulos title='Presente su mensaje'></Titulos>
    <ContactUsForm button='Enviar' question='Asunto' question2='Nota' question3='Correo Electronico'></ContactUsForm>
</Layout>
