---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import EnterForum from '../components/EnterForum.astro';
import Titulos from '../components/Titulos.astro';
---

<Layout title='Punta de piedras'>
    <Nav enlace="https://walstar29.github.io/Portal-Ambiental/main/" text='Home' icon='fa-solid fa-house'
        enlace2="https://walstar29.github.io/Portal-Ambiental/mainGallery/" text2='Galeria' icon2='fa-solid fa-image'
        enlace3="https://walstar29.github.io/Portal-Ambiental/mainProjects/" text3='Proyectos' icon3='fa-solid fa-helmet-safety'
        enlace4='https://walstar29.github.io/Portal-Ambiental/mainEnvironments/' text4='Ambiente' icon4='fa-solid fa-seedling'
        enlace5='https://walstar29.github.io/Portal-Ambiental/mainTourism/' text5='Turismo' icon5='fa-solid fa-umbrella-beach'
        enlace6='https://walstar29.github.io/Portal-Ambiental/mainContactUs/' text6='Contectenos' icon6='fa-solid fa-phone'
        enlace7='https://walstar29.github.io/Portal-Ambiental/mainForum/' text7='Foro' icon7='fa-solid fa-users'
        enlace8='https://walstar29.github.io/Portal-Ambiental/mainProfile/' text8='Perfil' icon8='fa-solid fa-user'>
    </Nav>


    <Titulos title='Foros'></Titulos>
    <EnterForum asunto='Nuevo foro' entrar='Entrar al foro'></EnterForum>
</Layout>