---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import EnterForum from '../components/EnterForum.astro';
import Titulos from '../components/Titulos.astro';
---

<Layout title='Punta de piedras'>
    <Nav enlace="https://walstar29.github.io/Portal-Ambiental/" text='Home' icon='fa-solid fa-house'
        enlace2="https://walstar29.github.io/Portal-Ambiental/mainGalleryBlock/" text2='Galeria' icon2='fa-solid fa-image'
        enlace3="https://walstar29.github.io/Portal-Ambiental/mainProjectsBlock/" text3='Proyectos' icon3='fa-solid fa-helmet-safety'
        enlace4='https://walstar29.github.io/Portal-Ambiental/mainEnvironmentsBlock/' text4='Ambiente' icon4='fa-solid fa-seedling'
        enlace5='https://walstar29.github.io/Portal-Ambiental/mainTourismBlock/' text5='Turismo' icon5='fa-solid fa-umbrella-beach'
        enlace6='https://walstar29.github.io/Portal-Ambiental/mainContactUsBlock/' text6='Contectenos' icon6='fa-solid fa-phone'
        enlace7='https://walstar29.github.io/Portal-Ambiental/mainForumBlock/' text7='Foro' icon7='fa-solid fa-users'
        enlace8='https://walstar29.github.io/Portal-Ambiental/signIn/' text8='Iniciar sesion' icon8=''>
    </Nav>


    <Titulos title='Foros'></Titulos>
    <EnterForum asunto='La contaminacion del ambiente' entrar='Entrar al foro'></EnterForum>
    <EnterForum asunto='La contaminacion en la comunidad' entrar='Entrar al foro'></EnterForum>
</Layout>