---
import Layout from "../layouts/Layout.astro"
import Nav from '../components/NavResearch.astro';
import Formulario from "../components/ModifyRegisterInformation.astro";
---

<Layout title="Modificacion de informacion (Investigador)">
    <Nav enlace="https://walstar29.github.io/Portal-Ambiental/researchProjects/" text='Proyectos' icon='fa-solid fa-helmet-safety'
        enlace2="https://walstar29.github.io/Portal-Ambiental/researchEnvironments/" text2='Ambiente' icon2='fa-solid fa-seedling'
        enlace3='https://walstar29.github.io/Portal-Ambiental/researchForum/' text3='Foros' icon3='fa-solid fa-users'
        enlace4='https://walstar29.github.io/Portal-Ambiental/researchForumAdmin/' text4='Foros Administrativos' icon4='fa-solid fa-people-group'
        enlace5='https://walstar29.github.io/Portal-Ambiental/researchProfile/' text5='Perfil' icon5='fa-solid fa-user'>
    </Nav>
    
        <div class="div">
			<h2>Modificacion de informacion</h2>
		</div>

        <Formulario question="Nuevo titulo"
                    question2="Redacte la informacion"
                    question3="Ingrese una imagen"
                    
                    answer="Nuevo titulo"
                    answer2="Nueva informacion"
                    answer3="">
        </Formulario>
</Layout>

<style>
    .div{
        padding: 10% 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    /* ---------------------------RESPONSIVE MOBILE -------------------------*/
@media(max-width: 900px){
	.div{
        padding: 10% 0 0 0;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}
</style>


