---
import Layout from "../layouts/Layout.astro";
import Nav from '../components/Nav.astro';
import SignUpCommunity from "../components/SignUpCommunity.astro";
---

<Layout title="Registrar">
    <Nav enlace="https://walstar29.github.io/Portal-Ambiental/" text='Home' icon='fa-solid fa-house'
        enlace2="https://walstar29.github.io/Portal-Ambiental/mainGalleryBlock/" text2='Galeria' icon2='fa-solid fa-image'
        enlace3="https://walstar29.github.io/Portal-Ambiental/mainProjectsBlock/" text3='Proyectos' icon3='fa-solid fa-helmet-safety'
        enlace4='https://walstar29.github.io/Portal-Ambiental/mainEnvironmentsBlock/' text4='Ambiente' icon4='fa-solid fa-seedling'
        enlace5='https://walstar29.github.io/Portal-Ambiental/mainTourismBlock/' text5='Turismo' icon5='fa-solid fa-umbrella-beach'
        enlace6='https://walstar29.github.io/Portal-Ambiental/mainContactUsBlock/' text6='Contectenos' icon6='fa-solid fa-phone'
        enlace7='https://walstar29.github.io/Portal-Ambiental/mainForumBlock/' text7='Foro' icon7='fa-solid fa-users'
        enlace8='https://walstar29.github.io/Portal-Ambiental/signIn/' text8='Iniciar sesion' icon8=''>
    </Nav>

    <div>
        <SignUpCommunity></SignUpCommunity>
    </div>
</Layout>

<style>
    div{
        padding: 7% 0 0 0;
        width: 100%;
        margin: 0 0 5% 0;
    }

    @media(max-width: 900px){
        div{
            padding: 5% 0 0 0;
        }
    }
</style>
