---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/NavResearch.astro';
import ForumPublic from '../components/ForumPublic.astro';
---

<Layout title='Foros (Investigador)'>
    <Nav enlace="https://walstar29.github.io/Portal-Ambiental/researchProjects/" text='Proyectos' icon='fa-solid fa-helmet-safety'
        enlace2="https://walstar29.github.io/Portal-Ambiental/researchEnvironments/" text2='Ambiente' icon2='fa-solid fa-seedling'
        enlace3='https://walstar29.github.io/Portal-Ambiental/researchForum/' text3='Foros' icon3='fa-solid fa-users'
        enlace4='https://walstar29.github.io/Portal-Ambiental/researchForumAdmin/' text4='Foros Administrativos' icon4='fa-solid fa-people-group'
        enlace5='https://walstar29.github.io/Portal-Ambiental/researchProfile/' text5='Perfil' icon5='fa-solid fa-user'>
    </Nav>

    <ForumPublic>
    </ForumPublic>
</Layout>

