---
interface Props{
    accion: string
	enlace: string
}

const {accion, enlace} = Astro.props
---

<div class="botones">
    <button><a href={enlace}>{accion}</a></button>
</div>

<style>
    .botones{
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}

    button{
		padding: 2% 5%;
		margin: 0 0 5% 0;
		border-radius: 10px;
		background-color: rgb(255, 246, 224);
		border: none;
	}

	button a{
		text-decoration: none;
		color: rgb(0, 0, 0);
		
	}

	button:hover{
        box-shadow: 0 0 10px rgb(0, 0, 0);
    }

	@media(max-width: 900px){
		button{
            padding: 4% 3%;
        }
    }
</style>