---
interface Props {
	subtitle: string;
    contexto: string;
	img: string;
}
const {contexto, subtitle, img} = Astro.props;
---

<div class="Contenedor">
    <div class="Container">
		<div><h2>{subtitle}</h2>
			<p>{contexto}</p>
		</div>

        <div class="multimedia">
			<slot/>
            <img src={img} alt="">
        </div>
    </div>
</div>

<style>
	.Contenedor .Container{
		font-size: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		padding: 0 0 2% 0;
	}

	.multimedia{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	img{
		margin: 2% 0 5% 0;
		width: 30%;
		border-radius: 5px;
	}

</style>