---

---

<div class="ContenedorCartas">
    <slot />
</div>

<style>
    .ContenedorCartas { 
        display: inline-block;
        background-color: transparent;
        width: 100%;
    }
</style>